<div class="form-container">
  <h2>Booking</h2>
  <h3>Code: B-XXXX-X</h3>

  <form>
    <div class="form-row row">
      <div class="col-md-4">
        <label>ชื่อ / บริษัท</label>
        <select class="form-control">
          <option>select</option>
          <option>select</option>
          <option>select</option>
          <option>select</option>
        </select>
      </div>
      <div class="col-md-4">
        <label>Site</label>
        <select class="form-control">
          <option>select</option>
          <option>select</option>
          <option>select</option>
          <option>select</option>
        </select>
      </div>
    </div>
    <div class="form-row row">
      <div class="col-md-4">
        <label>ใบเสนอราคา (QO)</label>
        <select class="form-control">
          <option>select</option>
          <option>select</option>
          <option>select</option>
          <option>select</option>
        </select>
      </div>
      <div class="col-md-4">
        <label>Plant</label>
        <select class="form-control">
          <option>select</option>
          <option>select</option>
          <option>select</option>
          <option>select</option>
        </select>
      </div>
    </div>
    <div class="form-row row">
      <div class="col-md-4">
        <label>ชื่อผู้ติดต่อ</label>
        <select class="form-control">
          <option>select</option>
          <option>select</option>
          <option>select</option>
          <option>select</option>
        </select>
      </div>
      <div class="col-md-4">
        <label>เบอร์โทรศัพท์</label>
        <select class="form-control">
          <option>select</option>
          <option>select</option>
          <option>select</option>
          <option>select</option>
        </select>
      </div>
    </div>
  </form>

  <h3>ข้อมูลสินค้า</h3>
  <form>
    <div class="form-row row">
      <div class="col-md-8">
        <label>Company Name</label>
        <select class="form-control">
          <option>select</option>
          <option>select</option>
          <option>select</option>
          <option>select</option>
        </select>
      </div>
    </div>
    <div class="form-row row">
      <label>วันที่ส่งสินค้า</label>
      <div class="col-md-4">
        <input class="form-control" type="date" />
      </div>
      <div class="time-container col-md-3 d-flex">
        <select class="form-control">
          <option>1</option>
        </select>
        :
        <select class="form-control">
          <option>1</option>
        </select>
        :
        <select class="form-control">
          <option>AM</option>
          <option>PM</option>
        </select>
      </div>
    </div>
    <div class="form-row row">
      <div class="col-md-2">
        <label>ปริมาณ</label>
        <input class="form-control" type="number" />
      </div>
      <div class="col-md-4">
        <label>Casting Method</label>
        <input class="form-control" type="text" />
      </div>
    </div>
    <div class="form-row row">
      <div class="col-md-8">
        <label>รายละเอียดเพิ่มเติม (ราง, pump, etc.)</label>
        <input class="form-control" />
      </div>
    </div>
    <div class="form-row row qc-container mt-2">
      <div class="col-md-1 d-flex">
        <input type="checkbox" />
        <label>QC Require</label>
      </div>
      <div class="col-md-2">
        <input class="form-control" type="number" />
      </div>
    </div>
  </form>
</div>
<div class="footer">
  <div class="footer-container d-flex">
    <div class="text-danger"><i class="fa-solid fa-trash-can"></i> Delete</div>
    <div class="response-container d-flex">
      <span>กลับหน้ารายการ</span>
      <span>บันทึก</span>
      <button class="btn btn-primary">ส่ง</button>
    </div>
  </div>
</div>
