<div id="overlay" class="show" (click)="toggleOverlay()" ></div>
<div class="modal-content show">
  <div class="image-container" *ngIf="!responseMessage && errorMessage == ''; else response"><img src="/assets/images/loading-capoo.gif" class="image-fluid"></div>
  <ng-template #response>
    <div class="image-container" *ngIf="responseMessage && errorMessage == ''; else error"><img src="/assets/images/finish-capoo.gif" class="image-fluid"></div>
  </ng-template>
  <ng-template #error>
    <div class="image-container" *ngIf="errorMessage != ''"><img src="/assets/images/error-capoo.gif" class="image-fluid"></div>
  </ng-template>
</div>