<div class="wrapper">
    <nav id="sidebar" [ngClass]="{'active': toggle === true}">
        <div class="sidebar-header-icon-container">
            <i class="fa-solid fa-bell fa-lg"></i>
            <i class="fa-solid fa-circle-user fa-lg"></i>
        </div>
        
        <div class="sidebar-header">
            <div class="header-container">
                <div class="profile">
                    <i class="fa-solid fa-user fa-2xl"></i>
                </div>
            </div>
            <p class="main-text">Wipavee  Krai</p>
            <p class="sub-text">thuhang.nute@gmail.com</p>
        </div>

        <ul class="list-unstyled">
            <li>
                <a href="/">
                    <i class="icon fa-solid fa-truck"></i>Order Tracking</a>
            </li>
            <li>
                <a href="/create"><i class="icon fa-solid fa-book"></i>Add Booking</a>
            </li>
            <li>
                <a href="/"><i class="icon fa-solid fa-comment-dots"></i>Chat</a>
            </li>
            <li>
                <a href="/"><i class="icon fa-solid fa-list"></i>To do Tasks</a>
            </li>
        </ul>
        <div class="setting-header">SETTING</div>
        <ul class="list-unstyled">
            <li>
                <a href=""><i class="icon fa-solid fa-user-group"></i>Site Code</a>
            </li>
            <li>
                <a href=""><i class="icon fa-solid fa-map-location"></i>Plant</a>
            </li>
        </ul>
    </nav>

    <!-- CONTENT INCLUDING NAVBAR -->
    <div id="center">

        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
            <div class="container-fluid">
                <span (click)="toggleSideBar()">
                    <i class="bar-icon fa-xl fa-solid fa-bars"></i>
                </span>
                <div class="collapse navbar-collapse">
                    <img class="image-logo" src="/assets/images/logo-placeholder.png" alt="image">
                </div>
            </div>
            <div class="icon-container">
                <span>
                    <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                </span>
                <span>
                    <i class="fa-solid fa-maximize fa-lg"></i>
                </span>
                <span>
                    <i class="fa-solid fa-bookmark fa-lg"></i>
                </span>
                <span>
                    <i class="fa-solid fa-inbox fa-lg"></i>
                </span>
            </div>
        </nav>

        <div id="content"><router-outlet></router-outlet></div>
        
    </div>
</div>